.helps-wrapper {
  color: #3b4675;
  width: 650px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px 30px;
  h3 {
    margin: 40px 0 10px;
    border-bottom: 1px solid #3b4675;
  }
  p {
    margin-bottom: 10px;
  }
}