* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sawarabi Gothic", sans-serif;
}

body {
  min-height: 100vh;
}

.header {
  font-size: 20px;
  padding-left: 15px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.main {
  display: flex;
}

.footer {
  height: 85px;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.menu {
  background-color: #f6f6f4;
  width: 15%;
  padding-top: 15px;
}
.menu li {
  margin: 10px 5px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 25px;
  font-size: small;
}
.menu li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu div {
  margin: 25px 5px;
  padding: 10px;
  padding-left: 20px;
  font-size: small;
  text-decoration: none;
}

.menu .post {
  background-color: rgba(0, 0, 0, 0.12);
}

.group-list {
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.group-list ul li{
  padding: 5px 0;
}
.group-list ul li:hover{
  background-color: transparent;
}

.group-header {
    margin: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}