<div class="group-menu">
  <%= link_to 'グループをつくる', new_group_path, class: "button" %>
  <div>グループをさがす</div>
  <div>ともだちをさがす</div>
</div>
<% if @groups %>
  <div class="groups">
    <div class="title">参加中のグループ</div>
    <ul>
      <% @groups.each do |group| %>
        <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
      <% end %>
    </ul>
  </div>
<% end %>