<div class="helps">
  <h2 class="manual-title">このアプリについて</h2>
  <p>準備中</p>
  <div class="links">
    <%= link_to 'ログイン', user_session_path, class:"link-button" %>
    <%= link_to '新規登録', new_user_registration_path, class:"link-button" %>
  </div>
</div>