<div class="inputBox">
  <div class="groups">
    <div class="title">グループへの参加リクエスト</div>
  </div>
  <div>リクエストを送信しました！<br/>承認されると自動的にグループに追加されます。</div>
  <div><%= link_to '戻る', group_path(@group) %></div>
</div>