// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* --------------------------------
 * groups#show
 * -------------------------------- */

.group-contents {
  display: flex;
  align-items: flex-start;
  padding: 40px 0;

  .members {
    flex-basis: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;

    .member-card {
      display: block;
      background-color: #ffddbc;
      padding: 10px;
      font-size: 1.6rem;
      min-height: 460px;

      .member-info {
        display: flex;
        margin: 5px 0 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #666;
        
        .member-image div {
          width: 50px;
          height: 50px;
          background-size: cover;
          border: 1px solid #888;
          border-radius: 50%;
          margin: 0 5px;
        }
        .member-image .no-image {
          background-image: url("default_icon.png");
        }

        .member-profile {
          margin-left: 10px;
          .name {
            font-size: 1.8rem;
          }
          .status {
            color: #666;
            font-size: 1.2rem;
          }
        }
      }

      .favorite {
        padding: 10px 0 15px;

        .genre {
          color: #fff;
          margin: 8px 0;
          font-size: 1rem;
          span {
            background-color: rgba(0,0,0,0.8);
            padding: 3px 8px;
          }
        }

        .text {
          font-weight: lighter;
          line-height: 2;
        }
      }

      .more {
        color: #666;
        font-size: 1.2rem;
        letter-spacing: 0;
        text-align: right;
      }

      &:hover {
        box-shadow: 1px 1px 5px #666;
        transition: 0.3s;
        transform: scale(1.05, 1.05)
      }
    }
  }

  // メンバーリストのサイドバー
  .member-list {
    flex-basis: 20%;
    font-size: 1.4rem;
    padding: 20px 15px;
    margin-left: 10px;
    background-color: #eee;

    p {
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 0;
      margin-bottom: 5px;
    }
    li {
      padding: 5px 0;
    }
    li::before {
      content: '▶';
      padding-right: 3px;
      font-size: 1.4rem;
    }
  }
}