/* --------------------------------
 * base
 * -------------------------------- */
 html {
  font-size: 62.5%;
 }

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
  
  body {
   font-family: 'Noto Sans JP', sans-serif;
   letter-spacing: 1px;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

/* --------------------------------
 * header
 * -------------------------------- */
 .header {
  height: 90px;
  padding: 0 20px;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin: 0;
    font-size: 3.6rem;
    font-weight: lighter;
    text-shadow: 1px 1px 5px #666;
  }

  .g-nav ul {
    display: flex;
    li {
      margin-left: 25px;
      text-align: center;
      i {
        display: block;
        font-size: 2.6rem;
        line-height: 1.2;
      }
    }
  }
 }


/* --------------------------------
 * main
 * -------------------------------- */
.main {
  background-color: #ddd;
  padding: 20px;
}

// グループ詳細＆メンバー詳細ページ共通設定
.info {
  background-color: #fff;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .profile {
    .name {
      font-size: 3rem;
      font-weight: normal;
      line-height: 2;
    }
    .description {
      font-size: 1.4rem;
      color: #555;
    }
  }

  .action {
    font-size: 1.6rem;
    margin: 10px;
    padding: 5px 15px;
  }
  .action.button {
    border: 1px solid #666;
    border-radius: 5px;
    background-color: transparent;
  }
}


 /* --------------------------------
 * footer
 * -------------------------------- */
 .footer {
  height: 150px;
  background-color: lightslategray;
  text-align: center;
  padding: 20px;

  .footer-contents {
    font-size: 1.6rem;
  }

  .copyright {
    margin-top: 35px;
    letter-spacing: 0;
  }
 }

