/* --------------------------------
 * base
 * -------------------------------- */
 html {
  font-size: 62.5%;
 }

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
  
  body {
   font-family: 'Noto Sans JP', sans-serif;
   letter-spacing: 1px;
   color: #333;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

/* --------------------------------
 * parts
 * -------------------------------- */
.disabled {
  pointer-events: none;
}

.message {
  font-size: 1.4rem;
  margin: 20px;
}

/* --------------------------------
 * header
 * -------------------------------- */
 .header {
  position: fixed;
  z-index: 100;
  height: 70px;
  width: 100%;
  padding: 0 40px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .logo {
    margin: 0;
    font-size: 2.8rem;
    font-weight: lighter;
  }

  .g-nav ul {
    display: flex;
    li {
      margin-left: 25px;
      text-align: center;
      i {
        display: block;
        font-size: 2.4rem;
        line-height: 1.2;
      }
    }
  }
 }


/* --------------------------------
 * main
 * -------------------------------- */
.main {
  background-color: #f8f8f8;
  padding: 70px 20px;
}

// グループ詳細＆メンバー詳細ページ共通設定
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #aaa 1px solid;
  padding: 20px 0;

  .profile-wrap {
    .profile {
      .name {
        font-size: 4.2rem;
        line-height: 1.5;
      }
      .description {
        font-size: 1.6rem;
        color: #555;
        margin-left: 10px;
        line-height: 1.5;
      }
      .status {
        font-size: 1.4rem;
        color: #555;
        margin-left: 10px;
        margin-bottom: 35px;
        line-height: 1.5;
      }
    }
  }

  .action {
    font-size: 1.6rem;
    margin: 10px;
    padding: 5px 15px;
  }
  .action.button {
    border: 1px solid #666;
    border-radius: 5px;
    background-color: transparent;

    &:hover {
      background-color: rgba(0,0,0,0.1);
      box-shadow: 0 0 8px #666;
      transition: 0.2s;
    }
  }
}


 /* --------------------------------
 * footer
 * -------------------------------- */
 .footer {
  height: 150px;
  background-color: #eee;
  text-align: center;
  padding: 20px;

  .footer-contents {
    font-size: 1.6rem;
  }

  .copyright {
    margin-top: 35px;
    letter-spacing: 0;
  }
 }

