/* --------------------------------
 * base
 * -------------------------------- */
 html {
  font-size: 62.5%;
 }

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
  
  body {
   font-family: 'Noto Sans JP', sans-serif;
   letter-spacing: 1px;
   color: #333;
   background-color: #f8f8f8;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

/* --------------------------------
 * parts
 * -------------------------------- */
.disabled {
  pointer-events: none;
}

.message {
  font-size: 1.4rem;
  margin: 20px;
}

.notifications {
  position: fixed;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;
  opacity: 0;
  animation: fadeInOut 3.5s forwards ease-in;
  p {
    border: 1px solid #ffc266;
    color: #666;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    font-size: 1.6rem;
    text-align: center;

  }
  &.alert {
    p {
      border: 1px solid #c00;
      color: #c00;
    }
  }
}

/* --------------------------------
 * Animation
 * -------------------------------- */

@keyframes fadeInOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

/* --------------------------------
 * header
 * -------------------------------- */
 .header {
  position: fixed;
  z-index: 100;
  height: 70px;
  width: 100%;
  padding: 0 40px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .logo {
    margin: 0;
    font-size: 2.8rem;
    font-weight: lighter;
  }

  .g-nav ul {
    display: flex;
    li {
      margin-left: 25px;
      text-align: center;
      i {
        display: block;
        font-size: 2.4rem;
        line-height: 1.2;
      }
    }
  }
 }


/* --------------------------------
 * main
 * -------------------------------- */
.main {
  background-color: #f8f8f8;
  padding: 70px 20px 20px;
}

 /* --------------------------------
 * footer
 * -------------------------------- */
 .footer {
  height: 150px;
  background-color: #eee;
  text-align: center;
  padding: 20px;

  .footer-contents {
    font-size: 1.6rem;
  }

  .copyright {
    margin-top: 35px;
    letter-spacing: 0;
  }
 }


/* --------------------------------
 * グループ詳細＆メンバー詳細ページ共通設定
 * -------------------------------- */
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #aaa 1px solid;
  padding: 20px 20px 10px;

  .profile-wrap {
    .profile {
      .name {
        font-size: 4.2rem;
        line-height: 1.5;
      }

      .description {
        font-size: 1.6rem;
        color: #555;
        margin-left: 10px;
        line-height: 1.5;
      }

      .status {
        font-size: 1.4rem;
        color: #555;
        margin-left: 10px;
        margin-bottom: 35px;
        line-height: 1.5;
      }
    }
  }

  .action {
    display: block;
    font-size: 1.4rem;
    margin: 10px;
    padding: 8px 15px;
    letter-spacing: 0;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: transparent;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 8px #666;
      transition: 0.2s;
    }

    &.delete {
      color: #c00;
      border-color: #c00;

      &:hover {
        background-color: transparent;
        box-shadow: 0 0 8px #c00;
      }
    }
    
    &.invite {
      color: #666;
      border-color: #ffc266;

      &:hover {
        background-color: transparent;
        box-shadow: 0 0 8px #ffc266;
        color: #333;
      }
    }
  }
}

/* --------------------------------
 * グループ編集＆メンバー編集ページ共通設定
 * -------------------------------- */
.edit {
  max-width: 700px;
  margin: 0 auto 20px;

  .title {
    font-weight: normal;
    font-size: 2rem;
    border-bottom: 3px solid #ffc266;
    display: inline-block;
    margin: 25px 0;
  }

  .edit-form {
    font-size: 1.6rem;
    background-color: #f5ebdc;
    padding: 0 20px 20px;
    margin-bottom: 40px;

    .field {
      padding: 15px 0;

      .label {
        font-size: 1.4rem;
        display: block;
      }
      .form {
        display: block;
        width: 70%;
        border: none;
        outline: none;
        padding: 5px 10px;
        margin: 5px 0;

        &.textarea {
          width: 100%;
          min-height: 200px;
        }
      }

      .profile-image {
        margin-top: 15px;
      }

      .radio {
        margin: 5px 0;
        padding-left: 15px;
      }
    }
  }

  .actions {
    .form-button {
      padding: 5px 10px;
      margin: 5px 0;
    }
  }

  .unsubscribe {
    font-size: 1.6rem;
    padding: 40px 20px;
    background-color: #eee;

    .form-button {
      color: #c00;
      border: 1px solid #c00;
      border-radius: 3px;

      &.withdraw {
        color: #333;
        border-color: #666;
        &:hover {
          background-color: #eee;
          color: #333;
          box-shadow: 0 0 5px #666 inset;
        }
      }

      &:hover {
        background-color: #c00;
        color: #fff;
        transition: 0.2s;
      }
    }
    p {
      font-size: 1.4rem;
      margin-bottom: 25px;
      span {
        color: #c00;
      }
    }
  }
 }


/* --------------------------------
 * ユーザー検索＆グループ検索ページ共通設定
 * -------------------------------- */
.search-page {
  font-size: 1.6rem;
  max-width: 700px;
  margin: 0 auto 20px;

  .title {
    margin: 30px 0;
    display: inline-block;
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 3px solid #ffc266;
  }

  .search {
    margin-bottom: 50px;

    .form,
    .form-button {
      padding: 5px 10px;
    }

    .form {
      outline: none;
      width: 300px;
      margin-right: 5px;
    }

  }

  .cards {
    padding-top: 30px;
    border-top: 1px solid #aaa;

    p {
      margin-bottom: 10px;
    }

    .card {
      display: block;
      padding: 20px;
      background-color: #f8f8f8;

      &:nth-of-type(odd) {
        background-color: #eee;
      }

      &:hover {
        transform: scale(1.03, 1.03);
        box-shadow: 0 0 3px #666;
        transition: 0.3s;
      }

      .data {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

        .profile {
          display: flex;
          align-items: baseline;

          .name {
            font-weight: normal;
            font-size: 2rem;
            margin-bottom: 5px;
          }

          .status {
            color: #666;
            margin-left: 15px;
          }

          &.group {
            display: block;

            .description {
              color: #666;
            }

            .info {
              border: none;
              font-size: 1.2rem;
              color: #666;
              padding: 0;
            }
          }
        }

        .image div {
          width: 50px;
          height: 50px;
          background-size: cover;
          border: 1px solid #888;
          border-radius: 50%;
          margin-right: 15px;
        }

        .image .no-image {
          background-image: url("default_icon.png");
        }
      }
    }
  }
}
