// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* --------------------------------
 * users#show
 * -------------------------------- */

//  上部・info（style.scssでの記述への追加分）
.profile-wrap {
  display: flex;
  align-items: flex-start;

  .member-image div {
  width: 150px;
  height: 150px;
  background-size: cover;
  border: 1px solid #888;
  border-radius: 50%;
  margin: 10px;
  }
  .member-image .no-image {
    background-image: url("default_icon.png");
  }
  
}

// メインエリア

.user-contents {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  
  // 投稿一覧
  .posts,
  .invite {
    flex-basis: 75%;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    row-gap: 30px;
    column-gap: 20px;
    justify-content: center;
  }

  .post {
    margin: 15px auto;
    padding: 0 0 20px;
    background-color: #eee;
    min-width: 450px;
    border: none;
    
    .genre {
      display: inline-block;
      background-color: rgba(0,0,0,0.7);
      color: #ffc266;
      padding: 8px 15px;
      letter-spacing: 3px;
      font-size: 1.4rem;
    }
    
    .text {
      margin: 15px;
      font-size: 1.8rem;
      letter-spacing: 0;
      font-weight: lighter;
    }
  }

  .post.new-post {
    color: #666;
    font-size: 1.6rem;
    
    .new-post-button {
      padding-top: 20px;
    }
    &:hover {
      color: #333;
      background-color: #ddd;
      transition: 0.3s;
    }
  }

  // サイドメニュー
  .side-menu {
    flex-basis: 25%;
    font-size: 1.4rem;
    padding: 20px 15px;
    margin-top: 10px;
    margin-left: 10px;
    position: sticky;
    top: 80px;
    max-width: 460px;
    overflow: scroll;

    p {
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 0;
      margin: 10px 0 5px;
    }
    li {
      padding: 5px 0;
      margin-left: 20px;
      list-style: square inside;
    }
  }
}

// 新規投稿エリア
.post-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
