// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-header {
  padding-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  // background-color: rgb(255, 199, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .image {
    margin-right: 10px;
    div {
      width: 65px;
      height: 65px;
      background-size: cover;
      border-radius: 33px;
    }
    .no-image {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
  .profile {
    .name {
      font-size: 23px;
      font-weight: bold;
      span {
        margin: 0 10px;
        font-size: small;
        font-weight: lighter;
      }
    }
    .status {
      font-size: small;
      color: darkslategray;
    }
  }
  .description {
    margin-top: 10px;
    padding: 10px 0;
    font-size: 15px;
  }
}
.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .edit {
    margin: 15px;
    a {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #666;
      border-radius: 5px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition: 0.3s;
      }
    }
  }
}
.flex-left {
  display: flex;
}

.wrapper {
  padding: 10px;
  display: flex;
  // background-color: rgb(113, 156, 113);

  .favorites {
    .box {
      display: flex;
      justify-content: space-between;
    }
    .postTag {
      height: 15px;
      width: 15px;
      border-top: 15px solid rgba(0, 0, 0, 0.18);
      border-right: 15px solid rgba(0, 0, 0, 0.18);
      border-bottom: 15px solid transparent;
      border-left: 15px solid transparent;
    }
    .postTag.input {
      background-color: transparent;
      cursor: pointer;
      &:hover {
        border-top: 15px solid rgb(182, 182, 252);
        border-right: 15px solid rgb(182, 182, 252);
        transition: 0.2s;
      }
    }
    .top {
      border-top: 15px solid rgb(182, 182, 252);
      border-right: 15px solid rgb(182, 182, 252);
    }

    .btns {
      display: flex;
      justify-content: flex-end;
      a {
        font-size: 18px;
        color: #666;
        margin: 5px;
        &:hover {
          color: #000;
          transition: 0.1s;
        }
      }
    }
  }
}

.invite {
  .invite-btn {
    padding: 10px;
    margin: 10px 0;
    border: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: 0.3s;
    }
  }
}

.groups {
  margin: 10px 0 20px;

  .title {
    font-size: 17px;
    padding: 20px 0 0;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  li {
    margin: 15px 0;
    .group-link {
      padding: 5px;
      background-color: pink;
      border-radius: 3px;
      // color: #f6f6f4;
    }
  }
  .filter {
    font-size: small;
    color: #666;
  }
}