  <div class="side-bar">
    <ul class="nav">
      <li><%= link_to 'ダッシュボード', groups_path %></li>
      <li><%= link_to 'マイアカウント', user_path(current_user) %></li>
      <li><%= link_to 'サインアウト', destroy_user_session_path, method: :delete %></li>
      <li><%= link_to '投稿する', new_post_path %></li>
    </ul>
  </div>